<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-input [(ngModel)]="username" [ngModelOptions]="{standalone: true}" style="border-bottom: 1px solid rgba(0,0,0,0.25)" placeholder="Username" ></ion-input>
    <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" style="border-bottom: 1px solid rgba(0,0,0,0.25)" placeholder="Password"></ion-input>
    <ion-button expand="block" (click)="onLogin()" color="danger">login</ion-button>
  </form>
  <p>Don't have an account ? <a (click)="goToCreate()">Create Account</a></p>
</ion-content>